<!-- Content header -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
      res.redirect('/')
    } %>

<!-- Send flash message -->
<%- messages() %>

<!-- Display validation errors -->
<% if (errors) { %>
    <% let filteredErrors = errors.array().filter(error => error.msg !== "Invalid value"); %>
    <% if (filteredErrors.length > 0) { %>
        <ul class="notice">
            <% filteredErrors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }); %>
        </ul>
    <% } %>
<% } %>

<!-- Add classification form -->
<form action="/inv/add-classification" id="add-classification" method="post">
    <div class="requirements">
        <p>Entry must: </p>
        <ul class="requirement-list">
            <li class="requirement-item">Be alphabetic characters only</li>
            <li class="requirement-item">NOT contain spaces, numbers or special characters of any kind</li>
        </ul>
    </div>
    <label>New classification: <input type="text" name="classification_name" title="Classification to add" required pattern="[A-Za-z]+"></label>
    <input type="submit" id="submit" value="Add classification">
</form>